.main{
    width: 100%;
    height: 100vh;

    background-image: 
        linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.1)),
        url('../../images/main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.info_container{
    width: 700px;
    height: 400px;
    padding: 25px;
    margin: 50px auto;

    border-radius: 50px;
    border-right: 5px solid wheat;
    border-left: 5px solid darkorange;

    background-color: rgba(14, 0, 0, 0.5);

    text-align: center;
    
    font-family: "Nunito Sans";
    color: white;
    
    h1{
        font-size: 50px;
        font-weight: 600;
    }

    h2{
        font-size: 24px;
        font-weight: 400;
    }

    button{
        margin-left: 5px;
        width: 200px;
        height: 50px;
        border-radius: 25px;
        background-color: rgba($color: #000000, $alpha: 0.5);
        border: 1px solid darkorange;

        cursor: pointer;

        font-family: "Nunito Sans";
        color: white;
        font-size: 18px;

    }
}